.tt-devider
.empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
.container
  / TT-TITLE
  .tt-title
    .tt-title-cat Consigue la atraccion que quieres.
    %h2.c-h2
      %small Casos de Estudio
  .empty-space.marg-lg-b35.marg-sm-b30
  / TT-CASE
  .tt-swiper-margin
    .swiper-container{ "data-add-slides" => "3", "data-autoplay" => "5000", "data-center" => "0", "data-lg-slides" => "3", "data-loop" => "0", "data-md-slides" => "3", "data-slides-per-view" => "responsive", "data-sm-slides" => "2", "data-speed" => "500", "data-xs-slides" => "1" }
      .swiper-wrapper.clearfix
        .swiper-slide.active{ "data-val" => "0" }
          .tt-case
            %a.tt-case-img.custom-hover{ :href => "index.html#" }
              = image_tag "case/case_1.jpg", height: "230", width: "392", class: "img-responsive"
            .tt-case-info
              %a.tt-case-title.c-h5{ :href => "index.html#" } Growth Hack for Dropout
              .simple-text.size-3
                %p Platform omnichannel click bait thought leadership pivot. Disrupt taste makers council conversions emerging.
        .swiper-slide{ "data-val" => "1" }
          .tt-case
            %a.tt-case-img.custom-hover{ :href => "index.html#" }
              = image_tag "case/case_2.jpg", height: "230", width: "392", class: "img-responsive"
            .tt-case-info
              %a.tt-case-title.c-h5{ :href => "index.html#" } Adios Digital Marketing
              .simple-text.size-3
                %p Platform omnichannel click bait thought leadership pivot. Disrupt taste makers council conversions emerging.
        .swiper-slide{ "data-val" => "2" }
          .tt-case
            %a.tt-case-img.custom-hover{ :href => "index.html#" }
              = image_tag "case/case_3.jpg", height: "230", width: "392", class: "img-responsive"
            .tt-case-info
              %a.tt-case-title.c-h5{ :href => "index.html#" } Content Management for Animo
              .simple-text.size-3
                %p Platform omnichannel click bait thought leadership pivot. Disrupt taste makers council conversions emerging.
        .swiper-slide{ "data-val" => "3" }
          .tt-case
            %a.tt-case-img.custom-hover{ :href => "index.html#" }
              = image_tag "case/case_1.jpg", height: "230", width: "392", class: "img-responsive"
            .tt-case-info
              %a.tt-case-title.c-h5{ :href => "index.html#" } Growth Hack for Dropout
              .simple-text.size-3
                %p Platform omnichannel click bait thought leadership pivot. Disrupt taste makers council conversions emerging.
        .swiper-slide{ "data-val" => "4" }
          .tt-case
            %a.tt-case-img.custom-hover{ :href => "index.html#" }
              = image_tag "case/case_2.jpg", height: "230", width: "392", class: "img-responsive"
            .tt-case-info
              %a.tt-case-title.c-h5{ :href => "index.html#" } Adios Digital Marketing
              .simple-text.size-3
                %p Platform omnichannel click bait thought leadership pivot. Disrupt taste makers council conversions emerging.
        .swiper-slide{ "data-val" => "5" }
          .tt-case
            %a.tt-case-img.custom-hover{ :href => "index.html#" }
              = image_tag "case/case_3.jpg", height: "230", width: "392", class: "img-responsive"
            .tt-case-info
              %a.tt-case-title.c-h5{ :href => "index.html#" } Content Management for Animo
              .simple-text.size-3
                %p Platform omnichannel click bait thought leadership pivot. Disrupt taste makers council conversions emerging.
      .pagination.type-1.visible-xs-block
      .tt-swiper-arrow-center
        .swiper-arrow-left.tt-arrow-left.type-2.pos-2.hidden-xs
          %span.lnr.lnr-chevron-left
        .swiper-arrow-right.tt-arrow-right.type-2.pos-2.hidden-xs
          %span.lnr.lnr-chevron-right
.empty-space.marg-lg-b100.marg-sm-b50.marg-xs-b30
