/ TT-MSLIDE
.swiper-container
  -# .swiper-wrapper.clearfix
  -#   .swiper-slide.active
  .tt-mslide.background-block.slide1
    .container
      .tt-mslide-inner
        %h1.c-h1-0
          = image_tag("voltaire.svg")
        .simple-text.size-2
          %p= t("home.main_section.banner.title")
        .empty-space.marg-lg-b70.marg-md-b30
        = link_to t("home.main_section.banner.cta"), '#', class: 'c-btn type-1'
        %br
        %br
        %span
          %small= t("home.main_section.banner.disclaimer")
        .empty-space.marg-lg-b70.marg-md-b50
        .tt-scroll-down
          = link_to "#voltaire-description" do
            %p= t("home.main_section.config.btn_scroll")
            %span.lnr.lnr-chevron-down-circle
          .empty-space.marg-lg-b70.marg-md-b30
        -# = link_to t("home.main_section.config.btn_scroll"), '#voltaire-description', class: 'c-btn type-0'
        -# .empty-space.marg-lg-b70.marg-md-b50
        .empty-space.marg-lg-b200.marg-xs-b160
      .empty-space.marg-lg-b170.marg-md-b100.marg-sm-b50.marg-xs-b0
      .tt-mslide-img
        = image_tag "slider/thumb.png", height: "370", width: "820", class: "img-responsive"
  -# .swiper-slide{ "data-val" => "1" }
  -#   .tt-mslide.background-block.slide2
  -#     .container
  -#       .tt-mslide-inner
  -#         -# %h1.c-h1 Contenido Profesional y exclusivo
  -#         .simple-text.size-2
  -#           %p= t("home.main_section.banner.title")
  -#         = link_to t("home.main_section.banner.cta"), '#', class: 'c-btn type-1'
  -#         %br
  -#         %br
  -#         %span
  -#           %small= t("home.main_section.banner.disclaimer")
  -#         .empty-space.marg-lg-b70.marg-md-b50
  -#         = link_to t("home.main_section.config.btn_scroll"), '#voltaire-description', class: 'c-btn type-0'
  -#         .empty-space.marg-lg-b70.marg-md-b50
  -#         .empty-space.marg-lg-b200.marg-xs-b160
  -#         .empty-space.marg-lg-b170.marg-md-b100.marg-sm-b50.marg-xs-b0
  -#         .tt-mslide-img
  -#           = image_tag "slider/thumb.png", height: "370", width: "820", class: "img-responsive"
-# .pagination.type-1.pos-1.visible-xs-block
-# .swiper-arrow-left.tt-arrow-left.type-1.pos-1.hidden-xs
-#   %span.lnr.lnr-chevron-left
-# .swiper-arrow-right.tt-arrow-right.type-1.pos-1.hidden-xs
-#   %span.lnr.lnr-chevron-right
