.tt-devider
.empty-space.marg-lg-b100.marg-sm-b50.marg-xs-b30
.container
  / TT-TITLE
  .tt-title
    -# .tt-title-cat Market your mind
    %h2.c-h2
      %small= t("home.utils_section.title")
  .empty-space.marg-lg-b35.marg-sm-b30
  / TT-TAB-WRAPPER TYPE-1
  .tt-filter.type-1.style-2.isotope-filter
    .row.marg5
      .isotope-content
        .isotope-item.emaimarkrting.col-xs-12.col-sm-6.col-md-6
          .tt-case
            %a.tt-case-img.custom-hover{:href => "#"}
              = image_tag "case/case_1.jpg", height: "333", width: "605", class: "img-responsive"
            .tt-case-info.text-center
              = link_to t("home.utils_section.nav.opt1"), "#", class: 'tt-case-title c-h5'
          .empty-spaca.marg-lg-b30
        .isotope-item.management.col-xs-12.col-sm-6.col-md-6
          .tt-case
            = link_to (image_tag "case/case_2.jpg", height: "333", width: "605", class: "img-responsive"), guarantee_index_path, class: 'tt-case-img custom-hover'
            .tt-case-info.text-center
              = link_to t("home.utils_section.nav.opt2"), guarantee_index_path, class: 'tt-case-title c-h5'
          .empty-spaca.marg-lg-b30
        .isotope-item.growth.col-xs-12.col-sm-6.col-md-6
          .tt-case
            %a.tt-case-img.custom-hover{:href => "#"}
              = image_tag "case/case_3.jpg", height: "333", width: "605", class: "img-responsive"
            .tt-case-info.text-center
              = link_to t("home.utils_section.nav.opt3"), "#", class: 'tt-case-title c-h5'
          .empty-spaca.marg-lg-b30
        .isotope-item.email.col-xs-12.col-sm-6.col-md-6
          .tt-case
            %a.tt-case-img.custom-hover{:href => "#"}
              = image_tag "case/case_4.jpg", height: "333", width: "605", class: "img-responsive"
            .tt-case-info.text-center
              = link_to t("home.utils_section.nav.opt4"), "#", class: 'tt-case-title c-h5'
          .empty-spaca.marg-lg-b30
  .empty-space.marg-lg-b150.marg-sm-b50.marg-xs-b30
