.tt-devider
#voltaire-pricing.empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
.container
  / TT-TITLE
  .tt-title
    -# .tt-title-cat Precios
    %h2.c-h2
      %small= t("home.pricing_section.title")
  .empty-space.marg-lg-b40.marg-sm-b30
  / TT-PRICING
  .row
    .col-sm-4
    .col-sm-4
      .tt-pricing
        %h4.tt-pricing-title= t("home.pricing_section.price.title")
        .tt-pricing-count
          %span.tt-pricing-top> $
          = t("home.pricing_section.price.qty")
          %span= t("home.pricing_section.price.ext")
        %ul.tt-pricing-list
          %li.active= t("home.pricing_section.price.list.el1")
          %li.active= t("home.pricing_section.price.list.el2")
      .empty-space.marg-xs-b30
    .col-sm-4
  .empty-space.marg-lg-b40.marg-sm-b30
  .text-center
    = link_to t("home.pricing_section.cta"), "#", class: "c-btn type-1 size-2"
    %br
    %br
    %span
      %small= t("home.pricing_section.disclaimer")
    .empty-space.marg-lg-b40.marg-sm-b30
    %span
      = t("home.pricing_section.note")
.empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
