.tt-devider
#voltaire-products.container
  .empty-space.marg-lg-b95.marg-sm-b50
  .row
    .col-sm-10.col-sm-offset-1
      / TT-TITLE
      .tt-title
        -# .tt-title-cat Productos
        %h2.c-h2
          %small= t("home.product_section.title")
      .empty-space.marg-lg-b35.marg-sm-b30
      / TT-SERVICE
      .row
        .col-sm-6
          .tt-service.color-2.clearfix
            %a.tt-service-icon{ :href => "index.html#" }
              %span.lnr.lnr-users
            .tt-service-info
              %a.tt-service-title.c-h4
                = t("home.product_section.products.prod1.title")
              .simple-text.size-3
                %p= t("home.product_section.products.prod1.description")
          .empty-space.marg-xs-b30
        .col-sm-6
          .tt-service.color-2.clearfix
            %a.tt-service-icon{ :href => "index.html#" }
              %span.lnr.lnr-code
            .tt-service-info
              %a.tt-service-title.c-h4
                = t("home.product_section.products.prod2.title")
              .simple-text.size-3
                %p= t("home.product_section.products.prod2.description")
      .empty-space.marg-lg-b40.marg-sm-b30
      .row
        .col-sm-6
          .tt-service.color-2.clearfix
            %a.tt-service-icon{ :href => "index.html#" }
              %span.lnr.lnr-spell-check
            .tt-service-info
              %a.tt-service-title.c-h4
                = t("home.product_section.products.prod3.title")
              .simple-text.size-3
                %p= t("home.product_section.products.prod3.description")
          .empty-space.marg-xs-b30
        .col-sm-6
          .tt-service.color-2.clearfix
            %a.tt-service-icon{ :href => "index.html#" }
              %span.lnr.lnr-cart
            .tt-service-info
              %a.tt-service-title.c-h4
                = t("home.product_section.products.prod4.title")
              .simple-text.size-3
                %p= t("home.product_section.products.prod4.description")
      .empty-space.marg-lg-b40.marg-sm-b30
      .row
        .col-sm-6
          .tt-service.color-2.clearfix
            %a.tt-service-icon{ :href => "index.html#" }
              %span.lnr.lnr-envelope
            .tt-service-info
              %a.tt-service-title.c-h4
                = t("home.product_section.products.prod5.title")
              .simple-text.size-3
                %p= t("home.product_section.products.prod5.description")
          .empty-space.marg-xs-b30
        .col-sm-6
          .tt-service.color-2.clearfix
            %a.tt-service-icon{ :href => "index.html#" }
              %span.lnr.lnr-license
            .tt-service-info
              %a.tt-service-title.c-h4
                = t("home.product_section.products.prod6.title")
              .simple-text.size-3
                %p= t("home.product_section.products.prod6.description")
  .empty-space.marg-lg-b40.marg-sm-b30
  .text-center
    = link_to t("home.product_section.cta"), "#", class: "c-btn type-1 size-2"
    %br
    %br
    %span
      %small= t("home.product_section.disclaimer")
.empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
