#voltaire-description.container
  .empty-space.marg-lg-b95.marg-sm-b50
  .row
    .col-sm-10.col-sm-offset-1
      / TT-TITLE
      .tt-title
        -# .tt-title-cat Contenido a tu medida
        -# %h2.c-h2
        -#   %small ¿Que es GoVoltaire?
      .empty-space.marg-lg-b40.marg-sm-b30
      / TT-TAB-WRAPPER TYPE-1
      .tt-tab-wrapper.type-1
        -# = render 'shared/tab_wrapper_nav'
        .tt-tabs-content.clearfix.mbottom50
          .tt-tab-info.active
            .row
              .col-md-5
                .simple-text.size-3
                  %h3
                    %small= t("home.second_section.title")
                  %p= t("home.second_section.description.sentence1")
                  %p= t("home.second_section.description.sentence2")
                .empty-space.marg-sm-b30
              .col-md-7
                = image_tag "simple-image/img_1.png", height: "333", width: "605", class: "img-responsive"

  .empty-space.marg-lg-b40.marg-sm-b30
  .text-center
    .simple-text.size-3
      %h3
        %small= t("home.second_section.pre")
    %br
    = link_to t("home.second_section.cta"), "#", class: "c-btn type-1 size-2"
    %br
    %br
    %span
      %small= t("home.second_section.disclaimer")
    .empty-space.marg-lg-b40.marg-sm-b30
    %span= t("home.second_section.note")
  .empty-space.marg-lg-b110.marg-sm-b50
