.tt-header-margin
#content-wrapper
  = render 'first_section'
  = render 'second_section'
  = render 'marketing'
  = render 'case_studies'
  = render 'pricing'
  = render 'testimonials'
  = render 'penultimate_section'
  = render 'last_section'
