.tt-header-margin
#content-wrapper
  = render 'first_section'
  = render 'second_section'
  = render 'products'
  -# = render 'case_studies'
  = render 'pricing'
  = render 'case_studies2'
  = render 'testimonials'
  -# = render 'penultimate_section'
  -# = render 'last_section'
