%footer.tt-footer
  .container
    .row
      .col-sm-6.col-md-3
        = image_tag "voltaire.svg"
        .empty-space.marg-lg-b25
        .simple-text.size-3.color-4
          %p= t("footer.description")
        .empty-space.marg-xs-b30
      .col-sm-6.col-md-3
        %h5.c-h5.color-3 Oficina
        .empty-space.marg-lg-b10
        .tt-address.clearfix
          .tt-address-icon
            %i.fa.fa-map-marker{ "aria-hidden" => "true" }
          .tt-address-info
            = t("footer.address")
        .empty-space.marg-lg-b25
        .tt-address.clearfix
          .tt-address-icon
            %i.fa.fa-envelope-o{ "aria-hidden" => "true" }
          .tt-address-info
            = link_to t("footer.email"), "mailto:hola@govoltaire.com"
        .empty-space.marg-lg-b25
        .tt-address.clearfix
          .tt-address-icon
            %i.fa.fa-phone{ "aria-hidden" => "true" }
          .tt-address-info
            = t("footer.tel")
        .empty-space.marg-lg-b40.marg-xs-b30
      .col-sm-6.col-md-3
        %h5.c-h5.color-3 Mapa del Sitio
        .empty-space.marg-lg-b10
        %nav.clearfix
          %ul.tt-footer-list.clearfix
            %li
              = link_to t("footer.nav.products"), "#voltaire-products"
            %li
              = link_to t("footer.nav.pricing"), "#voltaire-pricing"
            %li
              = link_to t("footer.nav.guarantee"), guarantee_index_url
            %li
              = link_to t("footer.nav.faq"), faqs_path
            %li
              = link_to t("footer.nav.contact"), "#"
        .empty-space.marg-lg-b40.marg-xs-b30
      .col-sm-6.col-md-3
        %h5.c-h5.color-3 Redes Sociales
        .empty-space.marg-lg-b10
        %ul.tt-social.clearfix
          %li
            %a{ :href => "#" }
              %i.fa.fa-facebook{ "aria-hidden" => "true" }
          %li
            %a{ :href => "#" }
              %i.fa.fa-twitter{ "aria-hidden" => "true" }
          %li
            %a{ :href => "#" }
              %i.fa.fa-instagram{ "aria-hidden" => "true" }
          %li
            %a{ :href => "#" }
              %i.fa.fa-linkedin{ "aria-hidden" => "true" }
        .empty-space.marg-lg-b40.marg-xs-b30
    .empty-space.marg-lg-b80.marg-sm-b50.marg-xs-b30
  .tt-footer-copy
    .container
      .simple-text.size-5.color-4
        %p © Hecho con Amor por Voltaire.
